<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}ReviewX{% endblock %}</title>

    <script crossorigin="anonymous" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script crossorigin="anonymous" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY="
            src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- STATIC STYLE SHEETS -->
    <link href="{{ url_for('static', path='css/base.css') }}" rel="stylesheet" type="text/css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<main class="d-flex flex-column min-vh-100">
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-xxl flex-wrap flex-md-nowrap">
            <a class="navbar-brand" href="/">ReviewX</a>
            <button
                    aria-controls="navbarToggler"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarToggler"
                    data-bs-toggle="collapse"
                    type="button"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/merchants">Merchants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/reviews">Reviews</a>
                    </li>
                </ul>
                <form class="d-flex input-group w-auto">
                    <input
                            aria-label="Search"
                            class="form-control"
                            placeholder="Type query"
                            type="search"
                    />

                    <button
                            class="btn btn-outline-primary"
                            type="button"
                    >
                        Search
                    </button>
                </form>
                <div class="">
                    <a class="btn btn-outline-dark" href="/login" id="base-login-btn" type="button">
                        Login
                    </a>
                    <a class="btn btn-outline-success" href="/register" id="base-register-btn" type="button">
                        Register
                    </a>
                </div>
            </div>
        </div>
    </header>
    <content>
        {% block content %}
        {% endblock %}
    </content>

    <footer class="mt-auto">
        <hr class="colored mb-auto"/>
    </footer>
</main>

<script>
    var auto_complete_data;
    $.getJSON('/api/v1/merchants', function (data) {
        auto_complete_data = data;
    });

    $(".form-control").autocomplete({
        source: function (request, response) {
            var results = $.ui.autocomplete.filter(auto_complete_data, request.term);
            response(results.slice(0, 5));
        },
    });
</script>
<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
{% block javascript %}{% endblock %}
</body>

</html>