{% extends "base.html" %}

{% block stylesheets %}
<link href="{{ url_for('static', path='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<div class="container my-5">
    <div class="row p-3 pb1 pe-lg-5 pt-lg-5 pb-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">ReviewX</h1>
            <p class="lead">Quickly write effective reviews for sites on ReviewX, the world’s most
                popular place for merchants and customers.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <button class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" type="button">Primary</button>
                <button class="btn btn-outline-secondary btn-lg px-4" type="button">Default</button>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden m-auto">
            <img alt="index-image" class="rounded-lg-3" class="" height="auto" src="static/img/Heart-hand-shake.svg"
                 width="100%"/>
        </div>
    </div>
</div>

<div class="brands">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="brands_slider_container">
                    <div class="owl-carousel owl-theme brands_slider">
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img
                                    alt=""
                                    src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_1.jpg">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img
                                    alt=""
                                    src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_2.jpg">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img
                                    alt=""
                                    src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_4.jpg">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img
                                    alt=""
                                    src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_5.jpg">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img
                                    alt=""
                                    src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_3.jpg">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img
                                    alt=""
                                    src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_6.jpg">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img
                                    alt=""
                                    src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_7.jpg">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center"><img
                                    alt=""
                                    src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561819026/brands_8.jpg">
                            </div>
                        </div>
                    </div> <!-- Brands Slider Navigation -->
                    <div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
                    <div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../javascript/index.js"></script>

{% endblock %}
