{% extends "base.html" %}
{% from "components/alert.html" import alert_component %}
<!-- templates/registration/login.html -->
{% block stylesheets %}
<link href="{{ url_for('static', path='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-bold fs-5">Login</h5>
                    {% if login_status == True %}
                    {{ alert_component("Incorrect username/password") }}
                    {% endif %}
                    <form method="POST">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="username" name="username" placeholder="Username"
                                   required type="username">
                            <label class="username-input" for="username">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" name="password" placeholder="Password"
                                   required type="password">
                            <label class="password-input" for="password">Password</label>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" id="rememberPasswordCheck" type="checkbox" value="">
                            <label class="form-check-label" for="rememberPasswordCheck">
                                Remember password
                            </label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" href="/verify" name="submit"
                                    type="submit">Login
                            </button>
                        </div>
                        <hr class="my-4">
                        <div class="d-grid mb-2">
                            <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
                                <i class="fab fa-google me-2"></i> Sign in with Google
                            </button>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                                <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
